* {
	font-family: Source Code Pro, monospace; 
}
.flex-container {
	float: left;
	width: 35%;
	height: 100%;
}
body{
	background-image: url(../../images/background_images/home/web_design/Kata.jpg);
	background-size: cover;
}
header {
	 padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;

}
h1 {
	text-align: center;
}
.nav{
	background-color: black;
	color: white;
	height: 25px;
	width: 100%;
}
ul {
	margin: 0px;
	text-align: center;
}
li {
	display: inline; 
	padding: 1em
}
a {
	text-decoration: none;
	color: #ff7c26;
}
a:hover {
	background-color: #ef1f80;
}
/*
.image_box {
	margin-left: 150px;
}
button {
	background-color: grey;
	border: none;
	border-radius: 3px;
}
.back_button {
	float: left;
}
.forward_button {
	float: right;

}
iframe{
	margin-left: -100px;
	border-radius: 3px;
	box-shadow: 10px;
}
*/
