.container {
	column-count: 3;
	column-span: 1;
}
.card {
	height: 150px;
	width: 300px;
	background-color: #4286f4;
	position: relative; 
	margin-right: 0;
	margin-bottom: 1em;

}
.card2 {
	height: 150px;
	width: 300px;
	background-color: red;
	position: relative; 
	margin-right: 0;
	margin-bottom: 1em;

}
p {
	margin: auto;
	text-align: center;
}